#version 450 core

layout(triangles, equal_spacing, cw) in;

in vec2 texCoordTCTE[];

out vec2 texCoordTEGeom;

void main() {
    texCoordTEGeom = gl_TessCoord.x * texCoordTCTE[0] + gl_TessCoord.y * texCoordTCTE[1] + gl_TessCoord.z * texCoordTCTE[2];
    gl_Position = (gl_TessCoord.x * gl_in[0].gl_Position) + (gl_TessCoord.y * gl_in[1].gl_Position) + (gl_TessCoord.z * gl_in[2].gl_Position);
}